label {
   
}
.compulsory-field:after {
  content: '*';
  color: red;
}


.transaction-lbl {

    color: black;
    font-size: medium;
    
}

.form-controlx {
    height: 35px;
}

.col-form-label {
    height: 35px;
}

.select2-selection {
    height: 35px;
}

select {
    height: 35px;
}

.even-row {
    background-color: #e0f2f2;
}

input,
select {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1em !important;
}


/* remove increase button of textboxes ( numbers) */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* swiping confirmation icon */
.swipe-question {
    animation: swipeQuestion 1s linear;
  }
  
  @keyframes swipeQuestion {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .toast {
    right: 15px;
    z-index: 999;
    color: white;
}

.toast-body {
    color: #fff;
}

.selected {
  background-color:hwb(170 0% 15%)!important;
  /* Add any other styles to visually highlight the selected row */
}


  /* center model in screen */
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


  table {
    font-size: 1em !important;
  }

  .form-control {
    font-size: 1em !important;
  }



  table td input[type="text"] {
    font-size: 0.95em !important;

  }

  table td input[type="text"]:focus {
    font-size: 0.95em !important;
    border: 0px !important;

  }

  input[type="text"] {
    max-height: 35px;
    background-color: #EBFFFF;
  }

  input[type="number"] {
    max-height: 35px;
    background-color: #EBFFFF;
  }

  input[type="date"] {
    max-height: 35px;
    background-color: #EBFFFF;
  }

  input[type="tel"] {
    max-height: 35px;
    background-color: #EBFFFF;
  }

  input[type="email"] {
    max-height: 35px;
    background-color: #EBFFFF;
  }



  textarea {
    background-color: #EBFFFF !important;
  }
  .transaction-inputs{
    max-height:30px;
    margin-right:10px;
    border:1px solid #E7E7E7;
    padding:5px;
    background-color:#EBFFFF;
  }

  /* th, td { white-space: nowrap; }
  .datatable-fixed-both {
      width: 800px;
      margin: 0 auto;
  }

  tr { height: 50px; } */

  .classLimit{
    max-width: 330px;
  }
 

  #batchModalBody {
    max-height: 450px; 
    overflow-y: auto;
    
}

/* #invoiceTableModelBody{
  max-height: 450px; 
  overflow-y: auto;
} */
  
#si_pickOrders_itemtable{
  max-height: 450px; 
  overflow-x: auto;
}
  