.card-header{
    background-color: #2c2d33!important;
    color: #E7E7E7 !important;
}

input[type="text"] {
    background-color: #EBFFFF;
  }

  input[type="number"] {
    background-color: #EBFFFF;
  }

  input[type="date"] {
    background-color: #EBFFFF;
  }

  input[type="tel"] {
    background-color: #EBFFFF;
  }

  input[type="email"] {
    background-color: #EBFFFF;
  }

  textarea {
    background-color: #EBFFFF !important;
  }
  .transaction-inputs{
    max-height:30px;
    margin-right:10px;
    border:1px solid #E7E7E7;
    padding:5px;
    background-color:#EBFFFF;
  }

  .custom-background {
    background-color: #EBFFFF !important;
    max-height: 35px;
    font-weight: 300 !important;
    font-size: 13px !important;
  }

  .dropzone {
    width: 220px;
    height: 260px;
    min-height: 0px !important;
    } 
